{% extends "index.html" %}
{% block title %}Contact Us{% endblock title %}
{% block main %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27494095.048155952!2d17.73785708906576!3d32.73354037060207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48763c60e2757d05%3A0x9c86f7ea684901f1!2sUniversity%20of%20Hertfordshire!5e0!3m2!1sen!2sin!4v1723600878879!5m2!1sen!2sin" width="1912" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock main %}
{% block home %}{% endblock home %}
{% block contact %}class="active"{% endblock contact %}