{% extends "index.html" %}

{% block main %}<h1 class="text-center">Login</h1>
<div class="d-flex justify-content-center m-5">
    <div class="admin d-flex flex-column justify-content-center align-items-center m-5">
        <img src="https://cdn2.iconfinder.com/data/icons/occupations-2/500/occupation-53-128.png"alt="">
        <a class="fs-3 text-decoration-none" href="adminlogin">Admin Login</a>
    </div>
    <div class="professors d-flex flex-column justify-content-center align-items-center m-5">
        <img src="https://cdn2.iconfinder.com/data/icons/occupations-2/500/occupation-28-128.png" alt="">
        <a class="fs-3 text-decoration-none" href="professorlogin">Professor Login</a>
    </div>
    <div class="students d-flex flex-column justify-content-center align-items-center m-5">
        <img src="https://cdn2.iconfinder.com/data/icons/occupations-2/500/occupation-32-128.png"alt="">
        <a class="fs-3 text-decoration-none" href="studentlogin">Student Login</a>
    </div>
</div>
{% endblock main %}
